body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
  }
  
  #app {
    text-align: center;
    margin: 20px;
  }
  
  #users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .user-card h4 {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .user-card button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-card button:hover {
    background-color: #0056b3;
  }

  body {
    font-family: "Courier New", Courier, monospace;
    background-color: #1e1e1e;
    color: #dcdcdc;
  }
  button {
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
  }
  .user-card {
    background-color: #2d2d2d;
    border: 1px solid #3c3c3c;
    color: #dcdcdc;
    font-family: "Courier New", Courier, monospace;
  }
  .user-card button {
    background-color: #008080;
  }
  .user-card button:hover {
    background-color: #005757;
  }
      
a{
  background-color: red;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}
#fetch-users-btn{
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
cursor: pointer;  
margin: 10px;
}
h1{
  margin: 10px;
}